<html>
<head>
	<title>Add A Dessert</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
	<h1>
		Favorite Dessert List
	</h1>
	<p>Input a dessert to add and click 'Submit'</p>


		<form action="/add-dessert" method="post">
		<input type="text" id="description" name="dessert[description]" value="<%= @new_dessert.description %>">
		<input type="submit">
	</form>

</body>
</html>
