<html>
<head>
	<title>Delete A Dessert</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
	<h1>
		Favorite Dessert List
	</h1>
	<p>Input a dessert to delete and click 'Submit'</p>

	<ul>
		<% @desserts.each do |desserts| %>
		<li><%= desserts.description %></li>
		<% end %>
	</ul>

<form action="/desserts/<%= @dessert.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" value="Delete" />
</form>

</body>
</html>
